<div class="settings-grid-2col">
    <div class="settings-card">
        <div class="card-header">
            <div class="card-icon"><i class="fas fa-calendar"></i></div>
            <div class="card-title">
                <h3>Правила бронирования</h3>
                <p>Основные настройки</p>
            </div>
        </div>
        <div class="card-body">
            <div class="setting-item">
                <div class="setting-info"><span>Мин. срок бронирования</span></div>
                <div class="setting-control">
                    <input type="number" class="form-control" value="0" style="width: 80px;">
                    <span>дней</span>
                </div>
            </div>
            <div class="setting-item">
                <div class="setting-info"><span>Макс. срок бронирования</span></div>
                <div class="setting-control">
                    <input type="number" class="form-control" value="365" style="width: 80px;">
                    <span>дней</span>
                </div>
            </div>
            <div class="setting-item">
                <div class="setting-info"><span>Мин. проживание</span></div>
                <div class="setting-control">
                    <input type="number" class="form-control" value="1" style="width: 80px;">
                    <span>ночей</span>
                </div>
            </div>
        </div>
    </div>

    <div class="settings-card">
        <div class="card-header">
            <div class="card-icon"><i class="fas fa-ban"></i></div>
            <div class="card-title">
                <h3>Правила отмены</h3>
                <p>Условия возврата</p>
            </div>
        </div>
        <div class="card-body">
            <div class="setting-item">
                <div class="setting-info"><span>Бесплатная отмена за</span></div>
                <div class="setting-control">
                    <input type="number" class="form-control" value="7" style="width: 80px;">
                    <span>дней</span>
                </div>
            </div>
            <div class="setting-item">
                <div class="setting-info"><span>Штраф при отмене</span></div>
                <div class="setting-control">
                    <input type="number" class="form-control" value="100" style="width: 80px;">
                    <span>%</span>
                </div>
            </div>
        </div>
    </div>
</div>